<h4>{{name}}</h4>&nbsp;
{{link-to 'Edit' 'users.edit' model class='edit-user'}}
<button {{action 'delete'}} class="delete-user">Delete</button>


<h5>{{name}}</h5>
<p>{{email}}</p>


<h5>Groups</h5>
<ul>
  {{#each groups}}
    <li>{{name}}</li>
  {{/each}}
</ul>

<h5>Trips</h5>
<ul>
  {{#each trips}}
    <li>{{name}}</li>
  {{/each}}
</ul>

<h5>Instas</h5>
  {{#each instas}}
    <img style='padding:50px' src="{{unbound thumbnail_url}}">
  {{/each}}
