<h4>{{name}}</h4>&nbsp;
{{link-to 'Edit' 'groups.edit' model class='edit-group'}}
<button {{action 'delete'}} class="delete-group">Delete</button>

<h5>Group Description:</h5>
<p>{{description}}</p>

<h5>Trips</h5>
<ul>
  {{#each trips}}
    <li>{{name}}</li>
  {{/each}}
</ul>

  
